<%- include('../partials/header')%>
<!-- Centralizando -->
<h1 class="text-center">Edit</h1>

  <div class="row">
    <div style="width: 30%; margin: 25px auto;">
      <!-- enviando os dados da form para /campground-->
      <form action="/campgrounds/<%= campground_id%>/comments/<%= comment._id%>?_method=PUT" method="POST">
        <div class="form-group">
          <input class="form-control" type="text" name="comment[text]" value="<%= comment.text %>" />
        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-lg btn-default btn-block">
            Submit
          </button>
        </div>
      </form>
      <a class="btn" href="/campgrounds">Go back</a>
    </div>
  </div>

<%- include('../partials/footer')%>

<!--
  Na action do form  não precisamos do objeto campground 
  inteiro, apens do id, para isso vamos simplificar a forma 
  que enviamos o id para esse template,   para ter acesso apenas no
   no id campground 
-->